CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
m.sh
.cproject
.project
build
*.aux
*.log
*.pdf
*.synctex.gz
doc/gneis-daq.bcf
doc/gneis-daq.out
doc/gneis-daq.run.xml
doc/gneis-daq.toc
doc/version.tex
