body {
	font-size: 13px;
}

fieldset {
	margin-bottom: 1.0em;
}

fieldset legend {
	font-weight: bold;
}

#mmain {
	padding: 0px;
	height: 100%;
}

#controlPanel {
	position: fixed;
	width: 55ex;
	height: 100%;
	overflow-y: auto;
	width: 55ex;
	padding: 4px;
}

#chartPanel {
	position: absolute;
	margin-left: 58ex;
	left: 0px;
	top: 0px;
	height: 98%;
	overflow-y: hidden;
}

#chartPart {
	height: 100%;
}

#frame {
	width: 99%;
	height: 100%;
}

.bw-cell {
	padding-top: 2px;
	padding-bottom: 2px;
}

.bw-left-column {
	float: left;
}

.bw-right-column {
	float: right;
}

.bw-row {
	clear: both;
}

.bw-warn {
	color: #d57815;
	font-weight: bold;
}

.bw-template {
	display: none;
}

label.bw-disabled {
	color: #aaa;
}

label.bw-toggle-button span.ui-checkboxradio-icon {
	display: none;
}

#controlPanel select {
	width: 21ex;
}

#controlPanel input[type=text] {
	width: 15ex;
}