#mmain {
	width: 99%;
	height: 99%;
}

#controlPanel {
	width: 55ex;
}

#chartPanel {
	height: 100%;
}

#frame {
	width: 100%;
	height: 100%;
}

.bw-cell {
	padding-top: 2px;
	padding-bottom: 2px;
}

.bw-left-column {
	float: left;
}

.bw-right-column {
	float: right;
}

.bw-row {
	clear: both;
}

.bw-warn {
	color: #d57815;
	font-weight: bold;
}

.bw-template {
	display: none;
}